<button (click)="loadSubjects()">Load districts</button>
<div *ngIf="subjects.length">
  <hr>
  <h3>Выбери субъект</h3>
  <select name="subjects"
          (change)="onSubjectSelected($event)">
    <option *ngFor="let s of subjects"
            [value]="s.href">
      {{s.title}}
    </option>
  </select>
</div>
<div *ngIf="districts.length">
  <hr>
  <h3>Выбери район</h3>
  <select name="districts"
          (change)="onDistrictSelected($event)">
    <option *ngFor="let d of districts"
            [value]="d.href">
      {{d.title}}
    </option>
  </select>
</div>

